/* 共通 css */
:root {
    --main-bg-color: #F0F0F0;
    --sub-bg-color: #FFFFFF;
    --font-color: #000000;
    --border-color: #000000;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
/*     font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
    margin: unset;
    background-color: var(--main-bg-color);
}
img {
    display: block;
}
h1, h2, h3, p, ul {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.3em;
    line-height: 1;
}
h3, p ,li, dt, dd { 
    list-style: none;
    font-weight: normal;
    font-size: 14px;
}
a, a:visited, time { 
    font-size: 14px;
    color: var(--font-color);
    text-decoration: none;
    list-style: none;
}
span {
    font-size: 12px;
    color: #FFFFFF;
}
p.copy {
    font-size: 12px;
}
div.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
img.logo {
    width: 80px;
    height: 20px;
    object-fit: contain;
}
header {
    margin: 0 16px;
    padding-top: 16px;
    padding-bottom: 15px;
}
h1 {
    margin-bottom: 8px;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
li:not(:last-of-type) {
    margin-right: 30px;
}
a.contact {
    display: none;
}
img.mainvisual {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    padding-bottom: 80px;
}
h2 {
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 24px;
    position: relative;
    margin-bottom: 34px;
}
h3::after {
    content: "";
    background-color: var(--font-color);
    width: 40px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
}

section.news {
    margin: 0 16px;
    padding-bottom: 50px;
}
div.news_area {
   padding-top: 10px;
}
div.news_detail {
   padding-bottom: 40px;
}
time {
    padding-right: 10px;
}
span {
    background-color: black;
    padding: 0 6px;
}
div.news_detail p {
    padding-top: 16px;
}
section.about {
    padding-bottom: 80px;
}
section.about img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 30px;
}
section.about div {
    margin: 0 16px;
}
section.business {
    margin: 0 16px;
    margin-bottom: 80px;
}
section.business img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    margin-bottom: 30px;
}
section.business p {
    font-weight: bold;
    padding-bottom: 10px;
}
section.company {
    margin: 0 16px;
}
section.company div {
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color: white;
}
section.company dl {
    margin: unset;
}
section.company dt {
    margin-top: 20px;
    margin-bottom: 5px;
}
section.company dd:not(:last-of-type) {
    margin-bottom: 5px;
}
section.company img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
footer {
    padding: 48px 16px 20px 16px;
    background-color: var(--sub-bg-color);
}
footer a img.logo {
    margin-bottom: 10px;
}
footer p.copy {
    padding-top: 40px;
}
@media (min-width: 900px) {
  /* 広い画面向けの CSS */
}
